<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd 
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.2.xsd 
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd 
       	http://www.springframework.org/schema/tx 
       	http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
        http://www.springframework.org/schema/task 
        http://www.springframework.org/schema/task/spring-task-4.2.xsd">

	<!-- spring-mvc 配置 -->
	<!-- 自动扫描包，可以写多个 -->
	<context:component-scan	base-package="com.nan.**.controller,com.nan.**.service..*" />
	<!-- 注解请求映射 -->
	<mvc:annotation-driven />
	<!-- 对静态资源文件的访问 -->
	<mvc:default-servlet-handler />
	<!-- 视图层配置 -->
	<bean id="jspView"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<!-- SpringMVC上传文件时，需要配置MultipartResolver处理器 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="50000000" />
		<property name="defaultEncoding" value="utf-8" /> 
		<property name="uploadTempDir" value="fileUpload/temp" /> 
	</bean>
	<import resource="classpath*:config/spring-mvc.xml" />
	<!-- 数据源配置 -->
	<import resource="classpath*:config/spring-datasource.xml" />
	<!-- 事务配置 -->
	<import resource="classpath*:config/spring-transaction.xml" />
	<!-- MyBatis配置 -->
	<import resource="classpath*:config/spring-mybatis.xml" />
	
</beans>