<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nan.buy.dao.CustomerMapper" >
  <resultMap id="BaseResultMap" type="com.nan.buy.model.Customer" >
    <id column="c_id" property="cId" jdbcType="VARCHAR" />
    <result column="c_name" property="cName" jdbcType="VARCHAR" />
    <result column="c_pass" property="cPass" jdbcType="VARCHAR" />
    <result column="c_header" property="cHeader" jdbcType="VARCHAR" />
    <result column="c_phone" property="cPhone" jdbcType="CHAR" />
    <result column="c_question" property="cQuestion" jdbcType="VARCHAR" />
    <result column="c_answer" property="cAnswer" jdbcType="VARCHAR" />
    <result column="c_address" property="cAddress" jdbcType="VARCHAR" />
    <result column="c_email" property="cEmail" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    c_id, c_name, c_pass, c_header, c_phone, c_question, c_answer, c_address, c_email
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from customer
    where c_id = #{cId,jdbcType=VARCHAR}
  </select>
  <select id="selectCustomer" resultMap="BaseResultMap">
  	 select 
    <include refid="Base_Column_List" />
    from customer
  </select>
  <select id="selectCustomerByName" resultMap="BaseResultMap">
   select 
    <include refid="Base_Column_List" />
    from customer
    <where>
    c_name like '%'||#{cName}||'%'
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from customer
    where c_id = #{cId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.nan.buy.model.Customer" >
    insert into customer (c_id, c_name, c_pass, 
      c_header, c_phone, c_question, 
      c_answer, c_address, c_email
      )
    values (#{cId,jdbcType=VARCHAR}, #{cName,jdbcType=VARCHAR}, #{cPass,jdbcType=VARCHAR}, 
      #{cHeader,jdbcType=VARCHAR}, #{cPhone,jdbcType=CHAR}, #{cQuestion,jdbcType=VARCHAR}, 
      #{cAnswer,jdbcType=VARCHAR}, #{cAddress,jdbcType=VARCHAR}, #{cEmail,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.nan.buy.model.Customer" >
    insert into customer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        c_id,
      </if>
      <if test="cName != null" >
        c_name,
      </if>
      <if test="cPass != null" >
        c_pass,
      </if>
      <if test="cHeader != null" >
        c_header,
      </if>
      <if test="cPhone != null" >
        c_phone,
      </if>
      <if test="cQuestion != null" >
        c_question,
      </if>
      <if test="cAnswer != null" >
        c_answer,
      </if>
      <if test="cAddress != null" >
        c_address,
      </if>
      <if test="cEmail != null" >
        c_email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        #{cId,jdbcType=VARCHAR},
      </if>
      <if test="cName != null" >
        #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cPass != null" >
        #{cPass,jdbcType=VARCHAR},
      </if>
      <if test="cHeader != null" >
        #{cHeader,jdbcType=VARCHAR},
      </if>
      <if test="cPhone != null" >
        #{cPhone,jdbcType=CHAR},
      </if>
      <if test="cQuestion != null" >
        #{cQuestion,jdbcType=VARCHAR},
      </if>
      <if test="cAnswer != null" >
        #{cAnswer,jdbcType=VARCHAR},
      </if>
      <if test="cAddress != null" >
        #{cAddress,jdbcType=VARCHAR},
      </if>
      <if test="cEmail != null" >
        #{cEmail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nan.buy.model.Customer" >
    update customer
    <set >
      <if test="cName != null" >
        c_name = #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cPass != null" >
        c_pass = #{cPass,jdbcType=VARCHAR},
      </if>
      <if test="cHeader != null" >
        c_header = #{cHeader,jdbcType=VARCHAR},
      </if>
      <if test="cPhone != null" >
        c_phone = #{cPhone,jdbcType=CHAR},
      </if>
      <if test="cQuestion != null" >
        c_question = #{cQuestion,jdbcType=VARCHAR},
      </if>
      <if test="cAnswer != null" >
        c_answer = #{cAnswer,jdbcType=VARCHAR},
      </if>
      <if test="cAddress != null" >
        c_address = #{cAddress,jdbcType=VARCHAR},
      </if>
      <if test="cEmail != null" >
        c_email = #{cEmail,jdbcType=VARCHAR},
      </if>
    </set>
    where c_id = #{cId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nan.buy.model.Customer" >
    update customer
    set c_name = #{cName,jdbcType=VARCHAR},
      c_pass = #{cPass,jdbcType=VARCHAR},
      c_header = #{cHeader,jdbcType=VARCHAR},
      c_phone = #{cPhone,jdbcType=CHAR},
      c_question = #{cQuestion,jdbcType=VARCHAR},
      c_answer = #{cAnswer,jdbcType=VARCHAR},
      c_address = #{cAddress,jdbcType=VARCHAR},
      c_email = #{cEmail,jdbcType=VARCHAR}
    where c_id = #{cId,jdbcType=VARCHAR}
  </update>
</mapper>