<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nan.buy.dao.MainTypeMapper" >
  <resultMap id="BaseResultMap" type="com.nan.buy.model.MainType" >
    <id column="t_id" property="tId" jdbcType="VARCHAR" />
    <result column="t_type" property="tType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    t_id, t_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from main_type
    where t_id = #{tId,jdbcType=VARCHAR}
  </select>
  <select id="selectMainType" resultMap="BaseResultMap">
  select 
    <include refid="Base_Column_List" />
    from main_type
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from main_type
    where t_id = #{tId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.nan.buy.model.MainType" >
    insert into main_type (t_id, t_type)
    values (#{tId,jdbcType=VARCHAR}, #{tType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.nan.buy.model.MainType" >
    insert into main_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tId != null" >
        t_id,
      </if>
      <if test="tType != null" >
        t_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tId != null" >
        #{tId,jdbcType=VARCHAR},
      </if>
      <if test="tType != null" >
        #{tType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nan.buy.model.MainType" >
    update main_type
    <set >
      <if test="tType != null" >
        t_type = #{tType,jdbcType=VARCHAR},
      </if>
    </set>
    where t_id = #{tId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nan.buy.model.MainType" >
    update main_type
    set t_type = #{tType,jdbcType=VARCHAR}
    where t_id = #{tId,jdbcType=VARCHAR}
  </update>
</mapper>